
.rating{
    text-align: center;
    width: 5%;
}

.rating.rating-value{
    margin: auto;
    font-size: 26pt;
}


.route{
    width: 50%;
}

.route.route-link{
    font-size: 16pt;
    color: #2a6496;
}

.schedule{
    width: 10%;
}

.price{
    width: 10%;
}

.price-value{
    font-size: 16pt;
    margin: auto;
}