.column{
    margin: auto;
}

.row{
    margin-top: 1px;
}

.rating{
    text-align: center;
    width: 5%;
}

.rating-value{
    font-size: 18pt;
}


.route{
    width: 50%;
}

.route-link{
    font-size: 16pt;
}

.schedule{
    width: 10%;
}

.price{
    width: 10%;
}