<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:bean="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">

    <bean:http auto-config="true" use-expressions="true">
        <bean:intercept-url pattern="/templates/admin.xhtml" access="hasAuthority('ROLE_ADMIN')"/>
        <bean:intercept-url pattern="/templates/profile.xhtml" access="hasAuthority('ROLE_USER')"/>
        <bean:intercept-url pattern="/templates/creating-route.xhtml" access="hasAuthority('ROLE_USER')"/>
        <bean:intercept-url pattern="/templates/favorites.xhtml" access="hasAuthority('ROLE_USER')"/>
        <bean:intercept-url pattern="/templates/my-comments.xhtml" access="hasAuthority('ROLE_USER')"/>
        <bean:intercept-url pattern="/templates/my-reminders.xhtml" access="hasAuthority('ROLE_USER')"/>
        <bean:intercept-url pattern="/templates/my-routes.xhtml" access="hasAuthority('ROLE_USER')"/>
        <bean:intercept-url pattern="/templates/my-marks.xhtml" access="hasAuthority('ROLE_USER')"/>
        <bean:intercept-url pattern="/templates/route.xhtml" access="hasAuthority('ROLE_USER')"/>
        <bean:intercept-url pattern="/templates/settings.xhtml" access="hasAuthority('ROLE_USER')"/>
        <bean:intercept-url pattern="/templates/search.xhtml" access="hasAuthority('ROLE_USER')"/>

        <bean:intercept-url pattern="/profile" access="hasAuthority('ROLE_USER')"/>
        <bean:intercept-url pattern="/admin" access="hasAuthority('ROLE_ADMIN')"/>
        <bean:intercept-url pattern="/marks" access="hasAuthority('ROLE_USER')"/>
        <bean:intercept-url pattern="/comments" access="hasAuthority('ROLE_USER')"/>
        <bean:intercept-url pattern="/favorites" access="hasAuthority('ROLE_USER')"/>
        <bean:intercept-url pattern="/myroutes" access="hasAuthority('ROLE_USER')"/>
        <bean:intercept-url pattern="/reminders" access="hasAuthority('ROLE_USER')"/>
        <bean:intercept-url pattern="/settings" access="hasAuthority('ROLE_USER')"/>
        <bean:intercept-url pattern="/createroute" access="hasAuthority('ROLE_USER')"/>
        <bean:intercept-url pattern="/route" access="hasAuthority('ROLE_USER')"/>
        <bean:intercept-url pattern="/search" access="hasAuthority('ROLE_USER')"/>


        <bean:form-login login-page="/templates/login.xhtml" default-target-url="/templates/profile.xhtml"
                         authentication-failure-url="/templates/login.xhtml?auth=fail"/>
        <bean:logout logout-success-url="/templates/login.xhtml?logout"/>
        <bean:access-denied-handler error-page="/templates/acces-deneid.xhtml"/>
    </bean:http>

    <bean:authentication-manager>
        <bean:authentication-provider user-service-ref="customUserDetailsService"/>
    </bean:authentication-manager>

    <import resource="classpath:service-config/service-spring-config.xml"/>

    <context:component-scan base-package="com.routefinder"/>

</beans>